<ion-header>
  <ion-toolbar>
    <ion-title>List Victim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab vertical="button" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNewData()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card *ngFor="let todo of todos">
    <ion-card-header style="text-align:center">
      <ion-card-title >List Victims of COVID-19</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item-sliding>
        <ion-item>
          <ion-label>{{todo.name}}</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="delete(todo.todoId)">
            DELETE
          </ion-item-option>
          <ion-item-option color="warning" (click)="edit(todo.todoId)">
            EDIT
          </ion-item-option>
          <ion-item-options color="success" (click)="done(todo.todoId)">
            DONE
          </ion-item-options>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card-content>
    <ion-button expand="block" shape="round"  (click)="logout()">Logout</ion-button>
  </ion-card>

</ion-content>
